*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


body{
margin:0;
height:100vh;

display:flex;
align-items:center;
justify-content:center;

background-image:url("../images/space-bg.jpg");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

font-family:Arial, Helvetica, sans-serif;
}

.page{
display:flex;
flex-direction:column;
align-items:center;
gap:30px;
}

.lock{
width:420px;
}

.container{

background:rgba(0,0,0,0.6);

padding:40px;

border-radius:15px;

color:white;

text-align:center;

width:340px;

box-shadow:0 15px 40px rgba(0,0,0,0.5);

}

input{

width:100%;
padding:12px;
margin:10px 0;

border-radius:8px;
border:none;

}

button{

width:100%;
padding:12px;

border:none;
border-radius:8px;

background:linear-gradient(135deg,#00c6ff,#0072ff);

color:white;

font-weight:bold;
cursor:pointer;

}

a{
color:#00c6ff;
text-decoration:none;
}



.main{

display:flex;

align-items:center;

justify-content:center;

gap:120px;

width:90%;
max-width:1400px;

}


.lock-side{

flex:1;

display:flex;

justify-content:center;

}


.lock{

width:600px;

max-width:100%;

}

.form-side{

flex:1;

display:flex;

justify-content:center;

}


.container{

width:360px;

padding:40px;

border-radius:15px;

background:rgba(0,0,0,0.6);

backdrop-filter:blur(6px);

box-shadow:0 15px 40px rgba(0,0,0,0.5);

text-align:center;

}


h2{

margin-bottom:20px;

font-size:28px;

}


input{

width:100%;

padding:12px;

margin:10px 0;

border-radius:8px;

border:none;

outline:none;

font-size:14px;

}


button{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:8px;

background:linear-gradient(135deg,#00c6ff,#0072ff);

color:white;

font-size:16px;

font-weight:bold;

cursor:pointer;

}

button:hover{

opacity:0.9;

}


a{

color:#00c6ff;

text-decoration:none;

font-weight:bold;

}

p{

margin-top:10px;

font-size:14px;

}
.lock{
width:500px;
background:transparent;
}