body{
    font-family: arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container{
    background:white;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1, h2{
margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    background: #2c5364;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background: #1c3947;
}

a{
    text-decoration: none;
    color: #2c5364;
    font-weight: bold;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}